<div [ngClass]="alerta" class="alert" role="alert">
  A simple secondary alert—check it out!
</div>

<div>
  <button type="button" class="btn btn-block btn-info" (click)="alerta='alert-info'"> Info </button>
  <button type="button" class="btn btn-success btn-block" (click)="alerta = 'alert-success'"> Success </button>
</div>
<br><br>

<h3 [ngClass]="{ 'text-danger': propiedades.danger, 'text-info': !propiedades.danger }" >
  Hola Mundo
</h3>

<button [ngClass]="{ 'btn-danger': propiedades.danger, 'btn-info': !propiedades.danger  }"  (click)="propiedades.danger = !propiedades.danger" type="button" class="btn  btn-block">Cambiar</button>


<br><br>

<h3>Procesos Asincrono</h3>
<button (click)="ejecutar()"  class="btn btn-primary" type="button" name="button">Guardar Cambios</button>

